@font-face {
    font-family:"OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
    font-family:"OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
    font-family:"OpenSans-ExtraBold";
    src: url("../fonts/OpenSans-ExtraBold.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
    font-family:"OpenSans-Semibold";
    src: url("../fonts/OpenSans-Semibold.ttf") /* TTF file for CSS3 browsers */
}

html {
	font-family: OpenSans-Regular;
}

#menu-toggle {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 2;
}
#hamburger {
  height: 30px;
  padding-left: 13px;
  margin-top: 5px;
}


/*===========Main Score Area==========*/

#mainContainer {
  padding-right: 0px;
  padding-left: 0px;
}

#mainScoreArea {
	height: 100vh;
  background-image: url("../images/mainBackground.png");
  background-size: cover;
  background-position: center;
  padding: 0px;
  font-family: OpenSans-Regular;
  margin-left: 300px;
}

#feedPanel {
  height: 100vh;
  width: 300px;
  position: absolute;
  display: inline-block;
  background-color: #C1C1C1;
  z-index: 1000;
}

.test {
	color:red;
}

/*===========StatShare===============*/

#statShare {
	background-color: rgba(0, 0, 0, 0.69);
  width: 250px;
  height: 160px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
}

.twitter-share-button {
	height: 100px;
}

.tweetButton {
	width: 100%;
  height: 33px;
  background-color: #1B95E0;
  position: absolute;
  bottom: 0px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  padding-top: 3px;
}

.tweetButton:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.72);

}

#statsContainer {
  height: 360px;
  width: 100%;
  padding: 0px;
  position: fixed;
  bottom: 0px;
  background: rgba(255, 0, 0, 0);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.94));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.94));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.94));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.94));
}

.favicon {
	height: 27px;
}

#tweetInfo {
	height: 40px;
}

#mainInfo {
	background-color: red;
}

.smallimage {
	height: 80px;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 10px;
}

.tweetTitle {
	display: inline-block;
  width: 120px;
  /* background-color: red; */
  float: right;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 20px;
  color: white;
}

.tweetDescription {
	font-family: OpenSans-Light;
	position: absolute;
  color: white;
  font-size: 12px;
  bottom: 40px;
  text-align: center;
  width: 100%;
}

.closeTweet {
	font-size: 20px;
  color: #4092C3;
  position: absolute;
  right: 8px;

}

/*==========Stats Section========*/
#statsTable {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.31);
}

.playerStats {
	width: 200px;
	background-color: red;
}

.largeRow {
	height: 140px;
}

.largeRow1 {
	position: relative;
	top: 70px;
}

.overview {
	font-family: OpenSans-Light;
  font-size: 20px;
  color: #F3F0F0;
  padding: 30px;
  position: absolute;
  top: 30px;
}  

.score {
	font-family: OpenSans-Light;
  font-size: 20px;
  color: #F3F0F0;
  padding: 30px;
  position: relative;
  bottom: -30px;
}

.runs {
	font-family: OpenSans-ExtraBold;
  font-size: 100px;
  padding-left: 30px;
  color: white;
}

.thinSlash {
	font-family: OpenSans-Light;
}

.wickets {
	font-family: OpenSans-ExtraBold;
  font-size: 70px;
  padding-left: 0px;
  color: white;
}

.overs {
	color: white;
  font-size: 17px;
  padding-left: 30px;
}

.infoBlocks {
	
  width: 190px;
  height: 100px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.bat1 {
	position: absolute;
	bottom: 40px;
}

.bat2 {
	position: absolute;
	bottom: 40px;
	left: 170px;
}

.bowler {
	position: absolute;
  bottom: 40px;
  left: 367px;
  border-left: solid 1.5px #606872;
  padding-left: 30px;
}

.photo {
	width: 50%;
  height: 100%;
  display: inline-block;
}

.playerFigures {
	display: inline-block;
	width: 40%;
}

.roundHeadshot {
	height: 80px;
  display: inline-block;
  position: relative;
  top: 10px;
  background-color: #E9E9E9;
  border-radius: 100px;
}

.name {
	color: #9E9E9E;
  position: absolute;
  top: 21px;
  font-size: 9px;
}

.runsDisplay {
	font-family: OpenSans-ExtraBold;
  font-size: 40px;
  color: white;
  position: absolute;
  top: 23px;
  border-bottom: solid 1.5px rgb(33, 138, 173);
}

.balls {
	font-family: OpenSans-Light;
	color: gray;
  right: 50px;
  bottom: 30px;
  font-size: 15px;
}

.bowlerWickets {
	font-family: OpenSans-ExtraBold;
  font-size: 24px;
  color: white;
  position: relative;
}

.bowlerRuns {
	font-family: OpenSans-ExtraBold;
  font-size: 40px;
  color: white;
  position: absolute;
  top: 23px;
  border-bottom: solid 1.5px rgba(255, 255, 255, 0.73);
}

.inactive {
	color: #CECACA;
	border-bottom: solid 1.5px rgba(113, 121, 130, 0.73);
}

.active {
	color: white;
}

.scorefavicon {
	height: 14px;
  position: relative;
  bottom: 4px;
  margin-right: 3px;
}

.roundCrop {
	border-radius: 100px;
}

/*=========Feed Panel==========*/

#latestVideo {
}

#twitter-widget-0{
  height: 100%;
}

.videoCard {
  margin-top: 45px;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  height: 310px;
  border-radius: 3px;
  box-shadow: 5px 8px 8px #888888;
}

.card-title {
  font-size: 10px;
  font-family: OpenSans-ExtraBold;
  padding-left: 15px;
}

.card-text {
  font-family: OpenSans-Light;
  font-size: 25px;
  padding-left: 15px;
}

.playButton {
  display: block;
  position: relative;
  top: -230px;
  width: 42px;
  left: 114px;
}

.playButtonImg {
  width: 40px;
  background-color: black;
  border-radius: 100px;
}

.smallTitle {
  font-size: 11px;
  position: absolute;
  margin-top: 20px;
  left: 115px;
  font-family: OpenSans-ExtraBold;
}

.feedTitle {
  left: 100px;
  top: 345px;
}

/*==========SideBar===========*/
#barHeader {
  position: relative;
  color: white;
  background-color: #002146;
  
  font-size: 20px;
  font-family: OpenSans-Semibold;
  height: 15px;
  width: 100%;
  height: 45px;
}

.live {
  background-color: #00BBEA;
  height: 100%;
  position: relative;
  width: 100px;
  padding: 10px;
  text-align: center;
  float: right;
}

#sidebar-footer {
  background-image: url("../images/oval.jpg");
  position: fixed;
  width: 250px;
  bottom: 0px;
  height: 200px;
  z-index: 0;
}

#weather {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.77);
}

#matchPanel {
  width: 100%;
  height: 261px;
}

.matchTitle {
  position: fixed;
  display: inline-block;
  font-family: "OpenSans-Semibold";
  color: gray;
  font-size: 10px;
  width: 50%;
  margin-top: 40px;
  padding-left: 20px;
}

.location {
  position: fixed;
  color: white;
  font-size: 11px;
  font-family: "OpenSans-Semibold";
  padding-left: 10px;
}

.team1 {
  position: fixed;
  width: 500px;
  left: 20px;
  top: 0px;
  margin-top: 150px;
  font-family: "OpenSans-Semibold";
  color: white;
  font-size: 30px;
}

.team2 {
  position: fixed;
  width: 500px;
  left: 20px;
  top: 0px;
  margin-top: 184px;
  font-family: "OpenSans-Semibold";
  color: white;
  font-size: 30px;
}

.intro {
  position: fixed;
  width: 500px;
  left: 20px;
  top: 0px;
  margin-top: 226px;
  font-family: "OpenSans-Semibold";
  color: white;
  font-size: 12px;
}

.floatingV {
  position: fixed;
  width: 500px;
  left: 0;
  top: 0px;
  margin-top: 156px;
  font-family: "OpenSans-Semibold";
  color: rgba(255, 255, 255, 0.35);
  font-size: 45px;
}

.glyIcon {
  padding-right: 10px;
}

.hawk {
  height: 10px;
  margin-left: 5px;
}

.arrow {
  position: fixed;
  color: #444141;
  font-size: 20px;
  left: 210px;
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .test {
    	color:blue;
    	display: none;
    }
}